
@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

* {
    font-family: "Source Sans Pro", sans-serif;
}


/* These are global css variables for us to use in any css file. Accessed like this, var(--bootstrap-grey) */
:root {
    --bootstrap-grey: 2px solid rgba(0,0,0,.125);
    --secondary-color: rgb(255, 255, 255);
    --blue-var: blue;
}

.footer-padding-fix{
    padding-bottom: 50px;;
}

.display-none{
    display: none;
}

.global-styles-test{
    color: blue;
}

.red-text-color{
    color: red;
}


.green-text-color{
    color: green;
}

.closable-popup-close-btn{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    opacity: .5;
}

.closable-popup-close-btn:hover{
    background: white;
}


#primary-nav-bar, #primary-footer{
    background-color: #FFFFFF;
    border-bottom:1px #EAEAEB solid;
}

.top-grey-border{
    border-top:1px #EAEAEB solid;
}


.main-site-font-color{
    color:#F01716;
}

#site-header{
    font-size: 2rem;
    font-weight: 800;
}

/*
.dropdown-item:hover{
    background-color: #F01716;
    border-radius: 5px;
    color: #FFFFFF;
}
*/

.dropdown-item:hover{
    background-color: #FFFFFF;
    border-bottom: 2px #F01716 solid ;
    color: #860909;
}

.body-font-color{
    color: #860909;
}

.darker-body-color{
    color: #39393A;
}

.bold-font{
    font-weight: 900;
}

.red-alert-btn-primary{
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px #F01716 solid;
    color: #F01716;
    background-color: white;
    margin-top: .5rem;
    /* box-shadow: 3px 3px 0px 2px #F01716; */
}

.red-alert-btn-primary:hover{
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px #F01716 solid;
    

    animation-name: red-alert-btn-hover; /* Play animation on hover */
    animation-fill-mode: forwards; /* Keep animation style after its over */
    animation-duration: .25s;
    /* box-shadow: 3px 3px 0px 2px #F33F3F; */
}


@keyframes red-alert-btn-hover {
    from {background-color: white;  color: #F01716; }
    to {background-color: #F88C8C; color: white; }
  }



.red-alert-btn-submit{
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px #40C95B solid;
    color: #40C95B;
    background-color: white;
    margin-top: .5rem;
    /* box-shadow: 3px 3px 0px 2px #F01716; */
}

.red-alert-btn-submit:hover{
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px #40C95B solid;
    

    animation-name: red-alert-submit-btn-hover; /* Play animation on hover */
    animation-fill-mode: forwards; /* Keep animation style after its over */
    animation-duration: .25s;
    /* box-shadow: 3px 3px 0px 2px #F33F3F; */
}


@keyframes red-alert-submit-btn-hover {
    from {background-color: white;  color: #40C95B; }
    to {background-color: #60D277; color: white; }
  }

  .red-alert-btn-delete{
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px #990A0A solid;
    color: #990A0A;
    background-color: white;
    margin-top: .5rem;
    /* box-shadow: 3px 3px 0px 2px #F01716; */
}

.red-alert-btn-delete:hover{
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px #990A0A solid;
    

    animation-name: red-alert-delete-btn-hover; /* Play animation on hover */
    animation-fill-mode: forwards; /* Keep animation style after its over */
    animation-duration: .25s;
    /* box-shadow: 3px 3px 0px 2px #F33F3F; */
}


@keyframes red-alert-delete-btn-hover {
    from {background-color: white;  color: #990A0A; }
    to {background-color: #C00C0C; color: white; }
 }

  .red-alert-btn-secondary{
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px #37423D solid;
    color: #37423D;
    background-color: white;
    margin-top: .5rem;
    /* box-shadow: 3px 3px 0px 2px #F01716; */
}

.red-alert-btn-secondary:hover{
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px #37423D solid;
    

    animation-name: red-alert-secondary-btn-hover ; /* Play animation on hover */
    animation-fill-mode: forwards; /* Keep animation style after its over */
    animation-duration: .25s;
    /* box-shadow: 3px 3px 0px 2px #F33F3F; */
}


@keyframes red-alert-secondary-btn-hover {
    from {background-color: white;  color: #37423D; }
    to {background-color: #667A71; color: white; }
  }


  .red-alert-btn-primary-compact{
    border-radius: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border: 2px #F01716 solid;
    color: #F01716;
    background-color: white;
    margin-top: .5rem;
    /* box-shadow: 3px 3px 0px 2px #F01716; */
}

.red-alert-btn-primary-compact:hover{
    border-radius: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border: 2px #F01716 solid;
    

    animation-name: red-alert-btn-hover; /* Play animation on hover */
    animation-fill-mode: forwards; /* Keep animation style after its over */
    animation-duration: .25s;
    /* box-shadow: 3px 3px 0px 2px #F33F3F; */
}



.flex-row-between{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

}


/* FONT SIZES */

.font-12{
    font-size:12px;
}

.no-margin{
    margin: 0px;
}


.no-link-underline{
    color: #F01716;
    text-decoration: none;
}

.no-link-underline:hover{
    animation-name: red-alert-btn-hover; /* Play animation on hover */
    animation-fill-mode: forwards; /* Keep animation style after its over */
    animation-duration: .25s;
}