{% extends "base.html" %}

{% load static %}

  

  
      {% block head_title %}
        <title> Dashboard </title>
      {% endblock %}  

      <meta name="description" content="Site dashboard.">

      {% block css_links %}
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/styles/dashboard.css' %}">
      {% endblock %}
  

  {% block content %}

  <!-- USE .no-gutters to REMOVE SPACE BETWEEN COLUMNS-->
  <div class= "container-fluid">
    <div class="row">
      <!-- In boot strap grid, you can have a maximum of 12 columns total, col-11 means user all 11 columns spaces avaialble, leaving only one column space for the remaining columns.-->
      <div class="col-10">
        <div class= "container-fluid">
          <div class="row" >
            <div style="background-color:greenyellow" class="col">Search Bar</div>
          </div>

          <div class="row">
            <div style="background-color:aqua" class="col">
              Map Section
            </div>
          </div>

          <div class="row">
            <div style="background-color:burlywood" class="col">
              Search Results and Client Selection
            </div>
          </div>

          <div class="row">
            <div style="background-color:royalblue" class="col">
              Notification Creation Section
            </div>
          </div>

        </div>
      </div>

      <!-- This col is going to be really small because it only gets 1 column space out of the 12 available in this row.-->
      <div class="col-2">
        <div class= "container-fluid">
          <div class="row" >
            <div style="background-color:grey" class="col">
              Saved Searches
            </div>
          </div>
          <div class="row" >
            <div style="background-color:pink" class="col">
              Saved Subsets
            </div>
          </div>
        </div>  
      </div>

    </div>
  </div>

  {% endblock %}



  {% block js_links %}
    <script src="{% static 'dashboard/js/dashboard.js' %}" >  </script> 
  {% endblock %}