{% extends "base.html" %}

{% load static %}




      {% block head_title %}
        <title> Dashboard </title>
      {% endblock %}

      <meta name="description" content="Site dashboard.">

      {% block css_links %}
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
      {% endblock %}


  {% block content %}

  <!-- USE .no-gutters to REMOVE SPACE BETWEEN COLUMNS-->
  <div class= "container-fluid">
    <div class="row">
      <!-- In boot strap grid, you can have a maximum of 12 columns total, col-11 means user all 11 columns spaces avaialble, leaving only one column space for the remaining columns.-->
      <div class="col-10">
        <div class= "container-fluid">
          <div class="row" >
            <div class="col">



              <div class="form-floating mt-3 mb-1 d-flex flex-row flex-nowrap">
                <input type="text" class="form-control border border-primary rounded flex-grow-1" id="floatingInput" placeholder="Type your search here!">

                <label for="floatingInput"> Search: </label>

                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle me-1 ms-1" data-bs-toggle="dropdown" aria-expanded="false">
                      City
                    </button>

                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>

                  </div>

                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle me-1" data-bs-toggle="dropdown" aria-expanded="false">
                      Age
                    </button>

                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>

                  </div>

                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle me-1" data-bs-toggle="dropdown" aria-expanded="false">
                      Policy
                    </button>

                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>

                  </div>

                  <button class="btn btn-info w-6">
                    <!-- Button with magnifying glass icon. -->
                    <span class="gg-search center-inline-elem"> </span>
                  </button>



                </div>

                <div class="d-flex flex-row-reverse mb-2">
                  <button class="btn btn-secondary w-21" data-bs-toggle="modal" data-bs-target="#exampleModal" > Show More Search Options </button>
                </div>






            </div>
          </div>

          <div class="row">
            <div style="background-color:aqua" class="col">
              Map Section
            </div>
          </div>

          <div class="row">
            <div class="col">

              <div>

                <ul class="nav nav-tabs py-2 my-2" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" disabled>
                      Search Results Container
                    </button>
                  </li>
                </ul>

                <div class="bootstrap-grey-border pb-2">
                    <div class="bootstrap-grey-bottom my-1 me-1 ms-5">
                      <input type="checkbox" class="me-5 ms-3" > <span class="mx-5"> Name: None</span> <span class="mx-5"> Address: None    </span> <span class="mx-5"> Policies: None </span>
                    </div>
                    <div class=" bootstrap-grey-bottom my-1 me-1 ms-5">
                      <input type="checkbox" class="me-5 ms-3" > <span class="mx-5"> Name: None</span> <span class="mx-5"> Address: None    </span> <span class="mx-5"> Policies: None </span>
                    </div>
                    <div class="bootstrap-grey-bottom my-1 me-1 ms-5">
                      <input type="checkbox" class="me-5 ms-3" > <span class="mx-5"> Name: None</span> <span class="mx-5"> Address: None    </span> <span class="mx-5"> Policies: None </span>
                    </div>
                    <div class="bootstrap-grey-bottom my-1 me-1 ms-5">
                      <input type="checkbox" class="me-5 ms-3" > <span class="mx-5"> Name: None</span> <span class="mx-5"> Address: None    </span> <span class="mx-5"> Policies: None </span>
                    </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col">
              <div id="notif-container" class="my-3">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">SMS</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Email</button>
                  </li>
                </ul>

                <div class="tab-content" id="myTabContent">

                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    
                    <h4> Send SMS</h4>

                    <div id="notif-tab-1" class="notif-tab px-3 py-3">
                      <div class="d-flex justify-content-between">
    
                        <div>
                          <label for="sms-subjet-name"> Subject: </label>
                          <input id="sms-subjet-name" class="form-control" type="text">
                        </div>
    
                        <div>
                          <button class="btn btn-primary">Social</button>
                          <button class="btn btn-primary">Emergency</button>
                        </div>
    
                      </div>
    
                      <div class="message-div">
                        <label for="sms-message-inp"> Message: </label>
                        <input id="sms-message-inp" class="form-control" type="text">   
                      </div>

                      <div class="d-flex flex-row-reverse">
                        <button class="btn btn-primary">Send Message</button>
                   </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h4> Send Email</h4>
                    <div id="notif-tab-1" class="notif-tab px-3 py-3">
                      <div class="d-flex justify-content-between">
    
                        <div>
                          <label for="sms-subjet-name"> Subject: </label>
                          <input id="sms-subjet-name" class="form-control" type="text">
                        </div>
    
                        <div>
                          <button class="btn btn-primary">Social</button>
                          <button class="btn btn-primary">Emergency</button>
                        </div>
    
                      </div>
    
                      <div class="message-div">
                        <label for="sms-message-inp"> Message: </label>
                        <input id="sms-message-inp" class="form-control" type="text">   
                      </div>

                      <div class="d-flex flex-row-reverse">
                           <button class="btn btn-primary">Send Message</button>
                      </div>
                    </div>
                  </div>
                </div>
                


              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- This col is going to be really small because it only gets 1 column space out of the 12 available in this row.-->
      <div class="col-2 px-0">
        <div class= "container-fluid px-0">
          <div class="row" >
            <div class="col">
              

              <div class="box-with-header mb-5">
                <div class="bwh-header d-flex justify-content-center px-1 py-1">
                  <h4> Saved Searches</h4>
                </div>
                
                <div class="bwh-content px-2 pb-2">
                  <ul class="list-group">
                    <li class="list-group-item">An active item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>
                </div>
              </div>

            </div>

          </div>

          <div class="row" >
            <div class="col">
              
               <div class="box-with-header">
                <div class="bwh-header d-flex justify-content-center px-1 py-1">
                  <h4> Saved Subsets</h4>
                </div>
                
                <div class="bwh-content px-2 pb-2">
                  <ul class="list-group">
                    <li class="list-group-item">An active item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>
                </div>
              </div>

            </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!--
    Use this area to store elements that dont rely on document positioning to decide their position in the document
  -->

  <!-- Search Options Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Search Options</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Here are where the search options will go:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <a href='/tech_demo/send_email'></a>
  {% endblock %}





  {% block js_links %}
    <script src="{% static 'dashboard/js/dashboard.js' %}" >  </script>
  {% endblock %}
