{% extends "base.html" %}

{% load static %}

  {% block head_title %}
    <title>Automations</title>
  {% endblock %}  

  <meta name="description" content="User Automations">

  {% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'UserPages/css/userpages.css' %}">

  {% endblock %}


  {% block content %}
    <div id="popup-container" class="d-flex flex-column align-items-center" >

    </div>


    <div class="d-flex flex-column align-items-center my-5 mx-2 footer-padding-fix">
      {% csrf_token %}
        <div class="w-50">
            <h1> Your Automations </h1> 

            <ul id="automation-list" class="list-group">

              {% for oneTimeAuto in oneTimeAutos%}
                <li class="list-group-item auto-li" id="one-time-auto-li-{{oneTimeAuto.id}}" data-bs-toggle="modal" data-bs-target="#one-time-auto-{{oneTimeAuto.id}}" >
                  <div class="d-flex justify-content-between">
                    <div id="one-time-auto-name-{{oneTimeAuto.id}}">
                      {{oneTimeAuto.name}}
                    </div>

                    <div>
                      {% if oneTimeAuto.active %}
                        <span id="one-time-auto-timer-label-{{oneTimeAuto.id}}"> Scheduled to run in: </span> 
                        <div id="one-time-auto-timer-{{oneTimeAuto.id}}" style="display: inline-block;">

                        </div>
                      {% else %}
                        <span> Completed </span>
                      {% endif%}
                    </div>

                  </div>
                </li>
              {% endfor %}

              {% for recurringAuto in recurringAutos %}
                <li class="list-group-item auto-li" id="recurring-auto-li-{{recurringAuto.id}}" data-bs-toggle="modal" data-bs-target="#recurring-auto-{{recurringAuto.id}}">
                  <div class="d-flex justify-content-between">
                    <div id="recurring-auto-name-{{recurringAuto.id}}">
                      {{recurringAuto.name}}
                    </div>

                    <div>
                      <span> Scheduled to run in: </span>
                      <div id="recurr-auto-timer-{{recurringAuto.id}}" style="display: inline-block;">

                      </div>
                    </div>

                  </div>
                </li>
              {% endfor %}

              <!-- if user has not automations show message-->
              {% if not hasAutos %}
                <li class="list-group-item" id="has-no-autos-warning">
                  You don't have any saved automations
                </li>
              
              {% endif %}
            </ul>

        

            <h1> Your Saved Searches </h1>

            <ul id="search-list" class="list-group">
              {% for search in savedSearches%}
                <li id="saved-search-{{search.id}}" class="list-group-item saved-search" data-bs-toggle="modal" data-bs-target="#save-search-modal-{{search.id}}" > {{search.name}}</li>
              {% endfor %}

              {% if not hasSavedSearches %}
                <li id="no-saved-searches" class="list-group-item">You don't have any saved searches</li>
              {% endif %}
            </ul>


        
            <h1> Your Subsets </h1>

            <ul id="subset-list" class="list-group">
              {% for subset in saved_subsets %}
                <li id="saved-subset-{{subset.id}}" class="list-group-item saved-subset" data-bs-toggle="modal" data-bs-target="#save-subset-modal-{{subset.id}}">{{subset.name}}</li>
              {% endfor %}

              {% if not has_subsets %}
                <li id="no-saved-subsets" class="list-group-item">You don't have any saved subsets</li>
              {% endif %}
            </ul>

        

        

        </div>

    </div>


    {% for search in savedSearches %}
      <div class="modal fade saved-search-modal" id="save-search-modal-{{search.id}}" data-search-id="{{search.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
    
            <div class="modal-header">
              <h5 class="modal-title" id="search-modal-header-{{search.id}}"><span id="search-modal-header-mode-{{search.id}}">View</span> a Search Query</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
              <!-- Container that holds a pop up describing what fields failed to validate.-->
              <div id="closable-popup-container-saved-search-{{search.id}}" class="mx-2">
    
              </div>
    
              <label for="name-for-search-to-save-{{search.id}}"> Search Query Name: </label>
              <input id="name-for-search-to-save-{{search.id}}" type="text" class="form-control" value="{{search.name}}" disabled>
    
    
              <label for="display-user-search-to-save-{{search.id}}"> Search Query: </label>
              <input id="display-user-search-to-save-{{search.id}}" type="text" class="form-control" value="{{search.query}}" disabled>
    
            </div>

            <div class="modal-footer">

              <button type="button" id="close-search-modal-btn-{{search.id}}" data-bs-dismiss="modal" class="red-alert-btn-secondary flex-row-between">
                <div class="me-2">
                  Close
                </div>
              </button>
  
              <button type="button" id="edit-search-btn-{{search.id}}" class="red-alert-btn-primary flex-row-between">
                <div class="me-2">
                  Edit
                </div>
                <i class="fa-solid fa-pen"></i>
              </button>

              <div class="d-flex justify-content-between w-100">
                <div>

                  <button type="button" id="delete-search-{{search.id}}" class="red-alert-btn-delete flex-row-between me-2" style="display:none;">
                    <div class="me-2">
                      Delete Search 
                    </div>
                    <i class="fa-solid fa-trash"></i>
                  </button>

                </div>

                <div>

                  <button type="button" id="discard-search-{{search.id}}" class="red-alert-btn-delete flex-row-between me-2" style="display:none;">
                    <div class="me-2">
                      Discard
                    </div>
                    <i class="fa-solid fa-trash"></i>
                  </button>

                  <button type="button" id="save-search-btn-{{search.id}}" class="red-alert-btn-submit flex-row-between" style="display:none;">
                    <div class="me-2">
                      Save Search
                    </div>
                    <i class="fa-solid fa-floppy-disk"></i>
                  </button>
                  
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}

    {% for subset in saved_subsets%} 
      <div class="modal fade saved-subset-modal" id="save-subset-modal-{{subset.id}}" data-subset-id="{{subset.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
    
            <div class="modal-header">
              <h5 class="modal-title" id="subset-modal-header-{{subset.id}}"><span id="subset-modal-header-mode-{{subset.id}}">View</span> Subset</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
              <!-- Container that holds a pop up describing what fields failed to validate.-->
              <div id="closable-popup-container-saved-subset-{{subset.id}}" class="mx-2">
    
              </div>
    
              <label for="name-for-subset-to-save-{{subset.id}}"> Subset Name: </label>
              <input id="name-for-subset-to-save-{{subset.id}}" type="text" class="form-control" value="{{subset.name}}" disabled>
              
              <div>
                <span>Clients: </span> <span id="subset-display-clients-{{subset.id}}"> </span>
              </div>

            </div>

            <div class="modal-footer">

              <button type="button" id="close-subset-modal-btn-{{subset.id}}" data-bs-dismiss="modal" class="red-alert-btn-secondary flex-row-between">
                <div class="me-2">
                  Close
                </div>
              </button>

              <button type="button" id="edit-subset-btn-{{subset.id}}" class="red-alert-btn-primary flex-row-between">
                <div class="me-2">
                  Edit
                </div>
                <i class="fa-solid fa-pen"></i>
              </button>

              <div class="d-flex justify-content-between w-100">
                <div>

                  <button type="button" id="delete-subset-{{subset.id}}" class="red-alert-btn-delete flex-row-between me-2" style="display:none;">
                    <div class="me-2">
                      Delete subset 
                    </div>
                    <i class="fa-solid fa-trash"></i>
                  </button>

                </div>

                <div>

                  <button type="button" id="discard-subset-{{subset.id}}" class="red-alert-btn-delete flex-row-between me-2" style="display:none;">
                    <div class="me-2">
                      Discard
                    </div>
                    <i class="fa-solid fa-trash"></i>
                  </button>

                  <button type="button" id="save-subset-btn-{{subset.id}}" class="red-alert-btn-submit flex-row-between" style="display:none;">
                    <div class="me-2">
                      Save subset
                    </div>
                    <i class="fa-solid fa-floppy-disk"></i>
                  </button>
                  
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    {% for oneTimeAuto in oneTimeAutos %}

    <div class="modal fade one-time-auto-modal" id="one-time-auto-{{oneTimeAuto.id}}" data-auto-id="{{oneTimeAuto.id}}" data-selected-clients="{{oneTimeAuto.selected_clients}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><span id="auto-header-{{oneTimeAuto.id}}">Viewing</span> Automation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div id="popup-container-onetime-modal-{{oneTimeAuto.id}}" class="d-flex flex-column align-items-center" >

            </div>

            <div class="d-flex flex-row justify-content-between">
              <div class="w-50">  
                  <div>
                    <label for="auto-name-{{oneTimeAuto.id}}"> Automation Name: </label>
                    <input id="auto-name-{{oneTimeAuto.id}}" class="form-control" type="subject" name="subject" value="{{oneTimeAuto.name}}" disabled disabled>
                  </div>
  
                  <div>
                    <label for="auto-message-subject-{{oneTimeAuto.id}}"> Subject: </label>
                    <input id="auto-message-subject-{{oneTimeAuto.id}}" class="form-control" type="subject" name="subject" value="{{oneTimeAuto.msg_sub}}" disabled>
                  </div>
  
                  <div>
                    <label for="auto-message-body-{{oneTimeAuto.id}}"> Message: </label>
                    <textarea id="auto-message-body-{{oneTimeAuto.id}}" class="form-control" type="text-area" name="message"  disabled> {{oneTimeAuto.msg_body}} </textarea>
                  </div>
              </div>
  
              <div>
  
                <label for="auto-sel-msg-type-{{oneTimeAuto.id}}"> Message Type: </label>
                <input type="hidden" id="auto-sel-msg-type-val-{{oneTimeAuto.id}}" value="{{oneTimeAuto.msg_type}}">

                <select id="auto-sel-msg-type-{{oneTimeAuto.id}}" class="form-select mb-2" aria-label="Select message type" disabled>
                  <option value="auto-many-def-select-type-opt"> Select a Message Type </option>
                    <option value="sms"> Send SMS </option>
                    <option value="email">Send Email </option>
                    <option value="both">Send Email and SMS </option>
                </select>

                
                <label for="auto-sel-msg-priority-{{oneTimeAuto.id}}"> Message Priority: </label>

                <input type="hidden" id="auto-sel-msg-priority-val-{{oneTimeAuto.id}}" value="{{oneTimeAuto.msg_priority}}">

                <select id="auto-sel-msg-priority-{{oneTimeAuto.id}}" class="form-select" aria-label="Select message priority" value="{{oneTimeAuto.msg_priority}}" disabled>
                  <option value="auto-many-def-select-priority-opt" selected> Select a Message Priority </option>
                    <option value="emergency"> Send Emergency Message</option>
                    <option value="social">Send Social Message</option>
                </select>
  
              </div>
  
            </div>
  
            <div class="d-flex flex-row justify-content-between">
              <div>
                <label for="auto-sel-msg-frequency-{{oneTimeAuto.id}}"> Message Frequency: </label>

                <input type="hidden" id="auto-sel-msg-frequency-val-{{oneTimeAuto.id}}" value="once">

                <select id="auto-sel-msg-frequency-{{oneTimeAuto.id}}" class="form-select" aria-label="Select Message Frequency" disabled>
                    <option value="auto-def-select-opt"> Select Message Frequency </option>
                    <option value="once"> One Time </option>
                    <option value="many"> Recurring </option>
                </select>
              </div>
  
              <div id="auto-send-msg-once-inputs-{{oneTimeAuto.id}}" class="display-none">
                <label for="auto-send-once-date-{{oneTimeAuto.id}}">Send Message On: </label>

                <input type="hidden" id="auto-send-once-date-val-{{oneTimeAuto.id}}" value="{{ oneTimeAuto.date_str }}">

                <input id="auto-send-once-date-{{oneTimeAuto.id}}" class="form-control" type="date"  disabled>     
              </div>
  
              <div id="auto-send-msg-many-inputs-{{oneTimeAuto.id}}" class="display-none">
  
                <label for="auto-send-many-date-{{oneTimeAuto.id}}">Start Recurring Automation Date: </label>
                <input id="auto-send-many-date-{{oneTimeAuto.id}}" class="form-control" type="date"  disabled/>   
  
                <label for="auto-send-freq-{{oneTimeAuto.id}}">Message Frequency: </label>
                <input id="auto-send-freq-{{oneTimeAuto.id}}" class="form-control" type="number" value="1" disabled/>  
  
                <label for="auto-send-freq-unit-{{oneTimeAuto.id}}"> Every: </label>
                <select id="auto-send-freq-unit-{{oneTimeAuto.id}}" class="form-select" aria-label="Select Message Frequency" disabled>
                    <option value="day" selected> Day </option>
                    <option value="week"> Week </option>
                    <option value="month"> Month </option>
                    <option value="year"> Year </option>
                </select>
              </div>
  
            </div>

            <div>
              <span>Clients: </span> <span id="one-time-auto-display-clients-{{oneTimeAuto.id}}"> </span>
            </div>
  
          </div>
          <div class="modal-footer">

            <button type="button" id="auto-modal-close-{{oneTimeAuto.id}}" data-bs-dismiss="modal" class="red-alert-btn-secondary flex-row-between">
              <div class="me-2">
                Close
              </div>
            </button>

            <button type="button" id="auto-modal-edit-{{oneTimeAuto.id}}" class="red-alert-btn-primary flex-row-between">
              <div class="me-2">
                Edit
              </div>
              <i class="fa-solid fa-pen"></i>
            </button>

            <div class="d-flex justify-content-between w-100">
              <div>
                <button type="button" id="auto-delete-{{oneTimeAuto.id}}" class="red-alert-btn-delete flex-row-between me-2" style="display:none;">
                  <div class="me-2">
                    Delete Automation 
                  </div>
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>

              <div>
                <button type="button" id="auto-modal-discard-changes-{{oneTimeAuto.id}}" class="red-alert-btn-delete flex-row-between me-2" style="display:none;">
                  <div class="me-2">
                    Discard
                  </div>
                  <i class="fa-solid fa-trash"></i>
                </button>


                <button type="button" id="auto-save-changes-{{oneTimeAuto.id}}" class="red-alert-btn-submit flex-row-between" style="display:none;">
                  <div class="me-2">
                    Save Changes
                  </div>
                  <i class="fa-solid fa-floppy-disk"></i>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    {% endfor %}


    {% for recurringAuto in recurringAutos %}

    <div class="modal fade recurring-auto-modal" id="recurring-auto-{{recurringAuto.id}}" data-auto-id="{{recurringAuto.id}}" data-selected-clients="{{recurringAuto.selected_clients}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><span id="auto-many-header-{{recurringAuto.id}}" > Viewing </span> Automation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>-{{oneTimeAuto.id}}
          <div class="modal-body">

            <div id="popup-container-recurr-modal-{{recurringAuto.id}}" class="d-flex flex-column align-items-center" >

            </div>

            <div class="d-flex flex-row justify-content-between">
              <div class="w-50">  
                  <div>
                    <label for="auto-many-name-{{recurringAuto.id}}"> Automation Name: </label>
                    <input id="auto-many-name-{{recurringAuto.id}}" class="form-control" type="subject" name="subject" value="{{recurringAuto.name}}"  disabled>
                  </div>
  
                  <div>
                    <label for="auto-many-message-subject-{{recurringAuto.id}}"> Subject: </label>
                    <input id="auto-many-message-subject-{{recurringAuto.id}}" class="form-control" type="subject" name="subject" value="{{recurringAuto.msg_sub}}" disabled>
                  </div>
  
                  <div>
                    <label for="auto-many-message-body-{{recurringAuto.id}}"> Message: </label>
                    <textarea id="auto-many-message-body-{{recurringAuto.id}}" class="form-control" type="text-area" name="message"  disabled> {{recurringAuto.msg_body}} </textarea>
                  </div>
              </div>
  
              <div>
  
                <label for="auto-many-sel-msg-type-{{recurringAuto.id}}"> Message Type: </label>
                <input type="hidden" id="auto-many-sel-msg-type-val-{{recurringAuto.id}}" value="{{recurringAuto.msg_type}}">

                <select id="auto-many-sel-msg-type-{{recurringAuto.id}}" class="form-select mb-2" aria-label="Select message type" disabled>
                  <option value="auto-many-def-select-type-opt"> Select a Message Type </option>
                    <option value="sms"> Send SMS </option>
                    <option value="email">Send Email </option>
                    <option value="both">Send Email and SMS </option>
                </select>
  
                <label for="auto-many-sel-msg-priority-{{recurringAuto.id}}"> Message Priority: </label>

                <input type="hidden" id="auto-many-sel-msg-priority-val-{{recurringAuto.id}}" value="{{recurringAuto.msg_priority}}">

                <select id="auto-many-sel-msg-priority-{{recurringAuto.id}}" class="form-select" aria-label="Select message priority" value="{{recurringAuto.msg_priority}}" disabled>
                  <option value="auto-many-def-select-priority-opt" selected> Select a Message Priority </option>
                    <option value="emergency"> Send Emergency Message</option>
                    <option value="social">Send Social Message</option>
                </select>
  
              </div>
  
            </div>
  
            <div class="d-flex flex-row justify-content-between">
              <div>
                <label for="auto-many-sel-msg-frequency-{{recurringAuto.id}}"> Automation Type: </label>

                <input type="hidden" id="auto-many-sel-msg-frequency-val-{{recurringAuto.id}}" value="many">

                <select id="auto-many-sel-msg-frequency-{{recurringAuto.id}}" class="form-select" aria-label="Select Message Frequency" disabled>
                    <option value="auto-many-def-select-opt"> Select Message Frequency </option>
                    <option value="once"> One Time </option>
                    <option value="many"> Recurring </option>
                </select>
              </div>
  
              <div id="auto-many-send-msg-once-inputs-{{recurringAuto.id}}" class="display-none">
                <label for="auto-many-send-once-date-{{recurringAuto.id}}">Send Message On: </label>
                <input id="auto-many-send-once-date-{{recurringAuto.id}}" class="form-control" type="date"  disabled>     
              </div>
  
              <div id="auto-many-send-recurring-inputs-{{recurringAuto.id}}" class="display-none">
                
                <input type="hidden" id="auto-many-send-many-date-val-{{recurringAuto.id}}" value="{{recurringAuto.start_date_str}}">
                <label for="auto-many-send-many-date-{{recurringAuto.id}}">Start Recurring Automation Date: </label>
                <input id="auto-many-send-many-date-{{recurringAuto.id}}" class="form-control" type="date"  disabled/>   
  
                <label for="auto-many-send-freq-{{recurringAuto.id}}">Message Frequency: </label>
                <input id="auto-many-send-freq-{{recurringAuto.id}}" class="form-control" type="number" value="1" disabled/>  


                
                <input type="hidden" id="auto-many-send-freq-unit-val-{{recurringAuto.id}}" value="{{recurringAuto.send_msg_freq_unit}}">
                <label for="auto-many-send-freq-unit-{{recurringAuto.id}}"> Every: </label>
                <select id="auto-many-send-freq-unit-{{recurringAuto.id}}" class="form-select" aria-label="Select Message Frequency" disabled>
                    <option value="day" selected> Day </option>
                    <option value="week"> Week </option>
                    <option value="month"> Month </option>
                    <option value="year"> Year </option>
                </select>
              </div>
  
            </div>


            <div>
              <span>Clients: </span> <span id="recurr-auto-display-clients-{{recurringAuto.id}}"> </span>
            </div>
  
          </div>

          <div class="modal-footer">

            <button type="button" id="auto-many-modal-close-{{recurringAuto.id}}" data-bs-dismiss="modal" class="red-alert-btn-secondary flex-row-between">
              <div class="me-2">
                Close
              </div>
            </button>

            <button type="button" id="auto-many-edit-auto-{{recurringAuto.id}}" class="red-alert-btn-primary flex-row-between">
              <div class="me-2">
                Edit
              </div>
              <i class="fa-solid fa-pen"></i>
            </button>

            <!-- Save, delete, discard btns initially hidden from view.-->
            <div class="d-flex justify-content-between w-100">
              <div>
                <button type="button" id="auto-many-delete-{{recurringAuto.id}}" class="red-alert-btn-delete flex-row-between me-2" style="display:none;">
                  <div class="me-2">
                    Delete Automation 
                  </div>
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>

              <div>
                <button type="button" id="auto-many-modal-discard-changes-{{recurringAuto.id}}" class="red-alert-btn-delete flex-row-between me-2" style="display:none;">
                  <div class="me-2">
                    Discard
                  </div>
                  <i class="fa-solid fa-trash"></i>
                </button>


                <button type="button" id="auto-many-save-changes-{{recurringAuto.id}}" class="red-alert-btn-submit flex-row-between" style="display:none;">
                  <div class="me-2">
                    Save Changes
                  </div>
                  <i class="fa-solid fa-floppy-disk"></i>
                </button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

  {% endblock %}


{% block js_links %}
    <script src="{% static 'UserPages/js/userpages.js' %}" > pageLoad(); </script> 
    <script src="{% static 'UserPages/js/automationManagement.js' %}" ></script> 
    <script src="{% static 'UserPages/js/savedSearches.js' %}" ></script> 
    <script src="{% static 'UserPages/js/savedSubsets.js' %}" ></script> 
  {% endblock %}
