{% extends "base.html" %}

{% load static %}

  {% block head_title %}
    <title>FAQ</title>
  {% endblock %}  

  <meta name="description" content="Website Facts">

  {% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'UserPages/css/style.css' %}">

  {% endblock %}

  <!-- CONSIDER USING BOOTSTRAP FLOATING FORM LABELS FOR A BETTER LOOK -->
  {% block content %}
    <div class="d-flex flex-column align-items-center my-5 mx-2 footer-padding-fix">
        <div class="w-50">
            <h1 class=" border-bottom border-secondary" >  Site FAQ </h1> 

            <!--Section: FAQ-->
<section>
    
  <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
  <p class="text-center mb-5">
    Find the answers for the most frequently asked questions below
  </p>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> What is Red Alert?
      </h6>
      <p>
        Red Alert is a web based application targeted to assist State Farm Agents in communicating with their clientele. It allows Agents the ability to quickly select or highligh geographical areas on our interactive map, to send clients notifications. 
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> What time do recurring automation send their messages?
      </h6>
      <p>
        Recurring automated messages are sent at 10 a.m. (Mountain Standard Time)
        
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> Where can users find additional information?
      </h6>
      <p>
        Additional Information can be found within our User Manual. 

      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> How do I change my Profile Settings?
      </h6>
      <p>
        You can manage your profile settings by selecting the Profile Tab at the top of Naviagation Bar. From there, select edit profile and save the changes you wish to make.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> Is there any fees or additional charges for Red Alert.
      </h6>
      <p>When sending our messages, we utilize Twilio as our API service. For Twilio’s text message stand message rates may apply.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i>Does Red Alert Require any software installation?

      </h6>
      <p>
        No, Red Alert is entirely a web based application, and should only require you to log into your account and have an internet connection to access the service.

      </p>
    </div>
  </div>
</section>
<!--Section: FAQ-->

        </div>

    </div>

  {% endblock %}


{% block js_links %}
    <script src="{% static 'UserPages/js/userpages.js' %}" > pageLoad(); </script> 
  {% endblock %}
