
.width-90{
    width: 90%;
}

.w-6{
    width: 6%;
}


.center-inline-elem{
    margin-left: auto;
    margin-right: auto;
}


.message-div{
    width: 35%;
}

.box-with-header{
    border-radius: 10px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);

}

.bwh-header{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #000000;
    margin-bottom: 3px;
}

.bootstrap-grey-border{
    border-top: 2px solid rgba(0,0,0,.125);
    border-bottom: 2px solid rgba(0,0,0,.125);
}

.bootstrap-grey-bottom{
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.remove-sr-btn{
    border: 2px solid #F01716;
    cursor: pointer;
    border-radius: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    color: #F01716;
}

.remove-sr-btn:hover{
    background-color: #f57d7d;
    color: white;
}

.select-client-btn{
    border: 2px solid #1D84B5;
    cursor: pointer;
    border-radius: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    color: #1D84B5;
}

.select-client-btn:hover{
    border: 2px solid #1D84B5;
    cursor: pointer;
    border-radius: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #60BCE6;
    color: white;
}


.invalid-age-range{
    border: 2px solid red;
}

.valid-age-range{
    border: 2px solid green;
}

#filter-container{
    border-radius: 8px;
    margin-left: 5px;
    padding: 10px;

}

.age-filter-input{
    width: 80%;
    display: inline;
}

.msg-succeeded-popup{
  text-align: right;
  color: white;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 5px;
  border-radius: 10px;
  background-color: #75e389;
}

.msg-failed-popup{
  text-align: right;
  color: white;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 5px;
  border-radius: 10px;
  background-color: #ff5d5d;
}

.sr-scroll-box{
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

#expand-sr-btn{
    margin-top: 10px;
}


#client-map{
    height: 700px;
    margin-left:auto;
    margin-right: auto;
    border-radius: 10px;
}

#start-drawing-btn{
    background-color:#40C95B;
    border-color:#40C95B;
}


#start-drawing-btn:focus{
    box-shadow: 0 0 0 .25rem #3DFF68;;
}

#stop-drawing-btn{
    background-color:#F01716;
    border-color:#F01716;
}


#stop-drawing-btn:focus{
    box-shadow: 0 0 0 .25rem #FF9A9A;;
}



#clear-draw-btn{
    background-color:#F01716;
    border-color:#F01716;
}

#clear-draw-btn:focus{
    box-shadow: 0 0 0 .25rem #F53B3B;;
}



/*
#save-search-btn{
    
}
*/

#open-save-search-modal{
    margin-right: 10px;
    margin-left: 10px;
    display: none;
}

.saved-search:hover{
    background-color: #F56666;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.saved-search{
    border-top: 1px #EAEAEB solid;
    font-size: 18px;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    text-align: center;
}

.saved-subset{
    border-top: 1px #EAEAEB solid;
    font-size: 18px;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    text-align: center;
}

.saved-subset:hover{
    background-color: #F56666;
    color: white;
    border-radius: 4px;
    cursor: pointer; 
}


#appl-filters-display{
    font-weight: 550;
}



.grey-bottom-border{
    border-bottom:1px #EAEAEB solid ;
}


/* START Filter column styles */

.indent-filter-container{
    padding-left: 10px;
}

.filter-row{
margin-bottom: 5px;
border-bottom: 1px #EAEAEB solid ;
}


/* END Filter column styles */


/* START search bar styles */
#user-search-input{
    display: inline-block;
    border: 1px solid #5F0707;
}

#user-search-input:focus{
    box-shadow: 0px 0px 6px 2px #F01716;
    border: 1px solid #F01716;
}
/* END Search bar styles */


/* Start search result container styles */


.sel-sr-color{
    background-color: #FEECEC;
    border-radius: 10px;
}

.map-tools-header{
    font-size: 18px;
}

/* End search result container styles */


/* START Notification Styles */
.form-select{
    border: 1px #5F0707 solid
}

.form-select:focus{
    box-shadow: 0px 0px 6px 1px #F01716;
    border: 1px solid #F01716;
}

.form-control:focus{
    box-shadow: 0px 0px 6px 1px #F01716;
    border: 1px solid #F01716;  
}

/* End Notification Styles */


/* MAP controls */

.draw-tool-label{
    font-size: 12px;
    color: #555555;
}

.d-flex-col-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* END MAP controls */