<div>
  <!-- Submits to the save_new_user path in urls.py in the redAlertSite folder. Takes optional args parameter. Add a space and include the argument. -->
<form action="{% url 'loginAppUrls:auth_user_login' %}" method="post">
  <!-- Protects against Cross Site Request Forgeries -->
  {% csrf_token %}

  <div>
    <span> Username: </span>
    <input type="text" id="user-name" name="user-name"> </input>
  </div>

  <div>
    <span> Password: </span>
    <input type="password" id="user-pass" name="user-pass">  </input>
  </div>


  <input type="submit" value="Log in!">
</form>


<a href="{% url 'loginAppUrls:create_new_user'%}"> Create new account! </a>
</div>
