{% extends "base.html" %}

{% load static %}

  {% block head_title %}
    <title>Log In!</title>
  {% endblock %}  

  <meta name="description" content="Our first page">

  {% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'userLoginApp/css/userLogin.css' %}">

  {% endblock %}

  <!-- CONSIDER USING BOOTSTRAP FLOATING FORM LABELS FOR A BETTER LOOK -->
  {% block content %}
    <div class="d-flex flex-column align-items-center my-5 mx-2 footer-padding-fix">

      <div class="w-25">

        {% if changed_pass %}
          <div> You successfully changed your password! </div>
        {% endif %}
        
        {% if loginSuccess == 0 %}
          <div> No account found with those credentials! </div>
        {% endif %}

        {% if loggedOut == 1 %}
          <div> Successfully Logged Out! </div>
        {% endif %}

        <!-- Submits to the save_new_user path in urls.py in the redAlertSite folder. Takes optional args parameter. Add a space and include the argument. -->
        <form action="{% url 'loginAppUrls:auth_user_login' %}" method="post">
          <!-- Protects against Cross Site Request Forgeries -->
          {% csrf_token %}

          <div>
            <span> Username: </span>
            <input type="text" id="user-name" class="form-control" name="user-name"> </input>
          </div>

          <div>
            <span> Password: </span>
            <input type="password" id="user-pass" class="form-control" name="user-pass">  </input>
          </div>


          <div class="d-flex flex-row-reverse mt-2">
            <input type="submit" class="btn btn-success" value="Log in!">
          </div>
         
        </form>
      </div>

      <div>
        <button type="button" class="btn btn-primary"> <a style="color: black;" href="{% url 'loginAppUrls:create_new_user'%}"> Create new account! </a> </button> 
      </div>

    </div>

  {% endblock %}


{% block js_links %}
    <script src="{% static 'userLoginApp/js/userLogin.js' %}" > pageLoad(); </script> 
  {% endblock %}
