{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head_title %}
            <title>{% block title %}Red Alert Site{% endblock %}</title>
        {% endblock %}

        <!-- Custom page styles go here -->
        {% block css_and_js_links %} {% endblock %}


        <!-- <script type="text/javascript" src="{% static '../jquery-3.6.0.min.js' %}"></script> -->

        <!-- Every single page has access to jquery with this tag. -->
        <script src="{% static 'GlobalAssets/js/jquery-3.6.0.min.js' %}" > </script>
        
    </head>

    <body>
        <div> This is Our Site Nav Bar! </div>


        <div>
            <!-- Templates located in apps will extend this template and contain
                 blocks of their own which will overwrite the content block with their
                 own content. Templates in apps will contain their own block titles content, which will tell django to place that HTML
                 inside of this file and display it.
            -->
            {% block content %} {% endblock %}
        </div>


        <div> This is our site Footer! </div>
    </body>

    
</html>