

.footer-padding-fix{
    padding-bottom: 50px;;
}

.display-none{
    display: none;
}

.global-styles-test{
    color: blue;
}

.bootstrap-grey-border{
    border-top: 2px solid rgba(0,0,0,.125);
    border-bottom: 2px solid rgba(0,0,0,.125);
}
